*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111111;
    color: #fff;
    line-height: 1.6;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;

}

.navbar h1{
    color: #fff;
    font-size: 26px;
}
header{
    position: sticky;
    top: 0%;
}
.navbar ul{
display: flex;
list-style: none;
gap: 25px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    
}
.navbar a:hover{
    color: #fff;
    background-color:#008db8 ;
    border-radius: 10px;
    padding: 10px;
}

.hero{
    height: 90vh;
    position: relative;
}

.overlay{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.herotext{
    text-align: center;
}

.hero h1{
        font-size: 48px;
        margin-bottom: 10px;
        
}

.hero p{
     font-size: 20px;
     margin-bottom: 20px;
     

}

.btn{
    padding: 13px 30px ;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: deepskyblue;
    border-radius: 8px;
    transition: 0.4s ease;
}
.btn:hover{
   background-color: #008db8;
    color: #fff;

  
}

.car-section{
    text-align: center;
    padding: 30px 60px;
    background-color: #1c1c1c;
    /* display: grid;
    grid-template-rows:auto auto auto auto auto ; */
}

.car-section h3{
    font-size: 36px;
    margin-bottom: 40px;

}

.car-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    
}

.car-card{
    background-color: rgb(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(0,0,0,0.6);
    transition: 0.3s ease;
}

.car-card :hover{
    transform: scale(1.05);
}

.car-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.car-info{
    padding: 20px;
}

.car-info h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.car-info p{
    color: deepskyblue;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}

.car-info button{
    border: none;
    background-color: deepskyblue;
    padding: 10px 20px;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.car-info button:hover{
    color: #fff;
    background-color: #008db8;
}

.contact-section{
    padding: 60px 30px;
    background-color: #0f0f0f;
    text-align: center;
}

.contact-section h3{
    margin-bottom: 30px;
    font-size: 32px;
}

form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea{
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
}

form button{
    padding: 12px;
    background-color: deepskyblue;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: #000;
}

form button:hover{
    color: #fff;
    background-color: #008db8;
}

footer{
    color:#888;
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}